<div [class]="currentClasslist">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Test Job re: angular 8</mat-card-title>
      <mat-card-subtitle class="subtitle-user-status">{{
        currentMessage
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <section class="mat-card-content__sub-module">
        <h3 class="template-themes-label">Please select a theme:</h3>
        <mat-radio-group
          aria-labelledby="template-theme-radio-group-label"
          class="template-themes-radio-group"
          [formControl]="templateThemeSet"
        >
          <mat-radio-button
            class="theme-radio-button"
            *ngFor="let theme of templateThemes"
            [value]="theme"
            [checked]="theme === DEFAULT_THEME"
          >
            {{ theme }}
          </mat-radio-button>
        </mat-radio-group>
      </section>

      <section class="mat-card-content__sub-module">
        <h3>List of random numbers:</h3>
        <p class="container-numbers">{{ randomNumberListData }}</p>
      </section>
      <section class="mat-card-content__sub-module">
        <h3>Search messages:</h3>
        <form>
          <mat-form-field>
            <input
              type="text"
              matInput
              [formControl]="searchControl"
              placeholder="enter your message text"
            />
          </mat-form-field>
        </form>
        <div
          *ngFor="let message of filteredUserMessage | async"
          class="user-message"
        >
          <p class="message-content">{{ message.content }}</p>
          <p class="message-author">{{ message.author }}</p>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</div>
