<div [class]="currentClasslist">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Test Job re: angular 8</mat-card-title>
      <mat-card-subtitle class="subtitle-user-status">{{
        currentMessage
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <section class="mat-card-content__sub-module">
        <button mat-button class="action-btn" (click)="onClick()">
          {{ buttonTittle }}
        </button>
      </section>

      <section class="mat-card-content__sub-module">
        <app-tool-bar (setTheme)="setTheme($event)"></app-tool-bar>
      </section>

      <section class="mat-card-content__sub-module">
        <app-random-numbers></app-random-numbers>
      </section>

      <section class="mat-card-content__sub-module">
        <app-search-messages></app-search-messages>
      </section>
    </mat-card-content>
  </mat-card>
</div>
