.wrapper {
  display: block;
  padding: 20px 30px;
}

.subtitle-user-status {
  height: 20px;
  padding-top: 10px;
}

.action-btn {
  width: 100px;
}

.mat-card-content {
  &__sub-module {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
